---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/brandonduff/pr_opener/pulls
    body:
      encoding: UTF-8
      string: '{"base":"master","head":"test_branch","title":"test_branch"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token TOKEN
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1526686565'
      Etag:
      - '"a06eef89beaa7e842d18563918818c12"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/brandonduff/pr_opener/pulls/2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/brandonduff/pr_opener/pulls/2","id":189151742,"html_url":"https://github.com/brandonduff/pr_opener/pull/2","diff_url":"https://github.com/brandonduff/pr_opener/pull/2.diff","patch_url":"https://github.com/brandonduff/pr_opener/pull/2.patch","issue_url":"https://api.github.com/repos/brandonduff/pr_opener/issues/2","number":2,"state":"open","locked":false,"title":"test_branch","user":{"login":"brandonduff","id":11201558,"avatar_url":"https://avatars1.githubusercontent.com/u/11201558?v=4","gravatar_id":"","url":"https://api.github.com/users/brandonduff","html_url":"https://github.com/brandonduff","followers_url":"https://api.github.com/users/brandonduff/followers","following_url":"https://api.github.com/users/brandonduff/following{/other_user}","gists_url":"https://api.github.com/users/brandonduff/gists{/gist_id}","starred_url":"https://api.github.com/users/brandonduff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brandonduff/subscriptions","organizations_url":"https://api.github.com/users/brandonduff/orgs","repos_url":"https://api.github.com/users/brandonduff/repos","events_url":"https://api.github.com/users/brandonduff/events{/privacy}","received_events_url":"https://api.github.com/users/brandonduff/received_events","type":"User","site_admin":false},"body":null,"created_at":"2018-05-18T22:55:11Z","updated_at":"2018-05-18T22:55:11Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/brandonduff/pr_opener/pulls/2/commits","review_comments_url":"https://api.github.com/repos/brandonduff/pr_opener/pulls/2/comments","review_comment_url":"https://api.github.com/repos/brandonduff/pr_opener/pulls/comments{/number}","comments_url":"https://api.github.com/repos/brandonduff/pr_opener/issues/2/comments","statuses_url":"https://api.github.com/repos/brandonduff/pr_opener/statuses/ed29aebb92d08d858c61156782d8e850f33ab471","head":{"label":"brandonduff:test_branch","ref":"test_branch","sha":"ed29aebb92d08d858c61156782d8e850f33ab471","user":{"login":"brandonduff","id":11201558,"avatar_url":"https://avatars1.githubusercontent.com/u/11201558?v=4","gravatar_id":"","url":"https://api.github.com/users/brandonduff","html_url":"https://github.com/brandonduff","followers_url":"https://api.github.com/users/brandonduff/followers","following_url":"https://api.github.com/users/brandonduff/following{/other_user}","gists_url":"https://api.github.com/users/brandonduff/gists{/gist_id}","starred_url":"https://api.github.com/users/brandonduff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brandonduff/subscriptions","organizations_url":"https://api.github.com/users/brandonduff/orgs","repos_url":"https://api.github.com/users/brandonduff/repos","events_url":"https://api.github.com/users/brandonduff/events{/privacy}","received_events_url":"https://api.github.com/users/brandonduff/received_events","type":"User","site_admin":false},"repo":{"id":129846523,"name":"pr_opener","full_name":"brandonduff/pr_opener","owner":{"login":"brandonduff","id":11201558,"avatar_url":"https://avatars1.githubusercontent.com/u/11201558?v=4","gravatar_id":"","url":"https://api.github.com/users/brandonduff","html_url":"https://github.com/brandonduff","followers_url":"https://api.github.com/users/brandonduff/followers","following_url":"https://api.github.com/users/brandonduff/following{/other_user}","gists_url":"https://api.github.com/users/brandonduff/gists{/gist_id}","starred_url":"https://api.github.com/users/brandonduff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/brandonduff/subscriptions","organizations_url":"https://api.github.com/users/brandonduff/orgs","repos_url":"https://api.github.com/users/brandonduff/repos","events_url":"https://api.github.com/users/brandonduff/events{/privacy}","received_events_url":"https://api.github.com/users/brandonduff/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/brandonduff/pr_opener","description":"CLI
        PR Opener for GitHub","fork":false,"url":"https://api.github.com/repos/brandonduff/pr_opener","forks_url":"https://api.github.com/repos/brandonduff/pr_opener/forks","keys_url":"https://api.github.com/repos/brandonduff/pr_opener/keys{/key_id}","collaborators_url":"https://api.github.com/repos/brandonduff/pr_opener/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/brandonduff/pr_opener/teams","hooks_url":"https://api.github.com/repos/brandonduff/pr_opener/hooks","issue_events_url":"https://api.github.com/repos/brandonduff/pr_opener/issues/events{/number}","events_url":"https://api.github.com/repos/brandonduff/pr_opener/events","assignees_url":"https://api.github.com/repos/brandonduff/pr_opener/assignees{/user}","branches_url":"https://api.github.com/repos/brandonduff/pr_opener/branches{/branch}","tags_url":"https://api.github.com/repos/brandonduff/pr_opener/tags","blobs_url":"https://api.github.com/repos/brandonduff/pr_opener/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/brandonduff/pr_opener/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/brandonduff/pr_opener/git/refs{/sha}","trees_url":"https://api.github.com/repos/brandonduff/pr_opener/git/trees{/sha}","statuses_url":"https://api.github.com/repos/brandonduff/pr_opener/statuses/{sha}","languages_url":"https://api.github.com/repos/brandonduff/pr_opener/languages","stargazers_url":"https://api.github.com/repos/brandonduff/pr_opener/stargazers","contributors_url":"https://api.github.com/repos/brandonduff/pr_opener/contributors","subscribers_url":"https://api.github.com/repos/brandonduff/pr_opener/subscribers","subscription_url":"https://api.github.com/repos/brandonduff/pr_opener/subscription","commits_url":"https://api.github.com/repos/brandonduff/pr_opener/commits{/sha}","git_commits_url":"https://api.github.com/repos/brandonduff/pr_opener/git/commits{/sha}","comments_url":"https://api.github.com/repos/brandonduff/pr_opener/comments{/number}","issue_comment_url":"https://api.github.com/repos/brandonduff/pr_opener/issues/comments{/number}","contents_url":"https://api.github.com/repos/brandonduff/pr_opener/contents/{+path}","compare_url":"https://api.github.com/repos/brandonduff/pr_opener/compare/{base}...{head}","merges_url":"https://api.github.com/repos/brandonduff/pr_opener/merges","archive_url":"https://api.github.com/repos/brandonduff/pr_opener/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/brandonduff/pr_opener/downloads","issues_url":"https://api.github.com/repos/brandonduff/pr_opener/issues{/number}","pulls_url":"https://api.github.com/repos/brandonduff/pr_opener/pulls{/number}","milestones_url":"https://api.github.com/repos/brandonduff/pr_opener/milestones{/number}","notifications_url":"https://api.github.com/repos/brandonduff/pr_opener/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/brandonduff/pr_opener/labels{/name}","releases_url":"https://api.github.com/repos/brandonduff/pr_opener/releases{/id}","deployments_url":"https://api.github.com/repos/brandonduff/pr_opener/deployments","created_at":"2018-04-17T04:35:43Z","updated_at":"2018-04-17T04:36:35Z","pushed_at":"2018-05-18T22:54:10Z","git_url":"git://github.com/brandonduff/pr_opener.git","ssh_url":"git@github.com:brandonduff/pr_opener.git","clone_url":"https://github.com/brandonduff/pr_opener.git","svn_url":"https://github.com/brandonduff/pr_opener","homepage":null,"size":7,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":1,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit"},"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"brandonduff:master","ref":"master","sha":"f021bc58c77f9d9c298390edbf585e9dd55dae07","user":{"login":"brandonduff","id":11201558,"avatar_url":"https://avatars1.githubusercontent.com/u/11201558?v=4","gravatar_id":"","url":"https://api.github.com/users/brandonduff","html_url":"https://github.com/brandonduff","followers_url":"https://api.github.com/users/brandonduff/followers","following_url":"https://api.github.com/users/brandonduff/following{/other_user}","gists_url":"h[...]
