---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/brandonduff/pr_opener/pulls
    body:
      encoding: UTF-8
      string: '{"base":"master","head":"non_existent_branch","title":"non_existent_branch"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token TOKEN
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1526686565'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Validation Failed","errors":[{"resource":"PullRequest","field":"head","code":"invalid"}],"documentation_url":"https://developer.github.com/v3/pulls/#create-a-pull-request"}'
  recorded_at: Fri, 18 May 2018 23:08:34 GMT
recorded_with: VCR 3.0.3
